:root {
  --color-olive: #3a5f56;
  --color-dark: #292c32;
  --color-white: #f4f3f0;
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-6rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(6rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-family: "Roboto", sans-serif;
  line-height: 2.2rem;
  font-weight: 400;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  color: var(--color-black);
}
body > * {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  clip-path: inset(0px -15px 0px -15px);
  position: relative;
  grid-column: center-start/center-end;
}

.grid-container {
  display: grid;
  grid-template-rows: 80vh repeat(3, min-content);
  grid-template-columns: [page-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] minmax(5rem, 1fr) [page-end];
}

.heading-1 {
  font-family: "Source Serif Pro", sans-serif;
  color: var(--color-olive);
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 5.7rem;
}

.heading-2 {
  font-family: "Source Serif Pro", sans-serif;
  color: var(--color-olive);
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 5.7rem;
}

.heading-3 {
  font-family: "Source Serif Pro", sans-serif;
  color: var(--color-olive);
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 5.7rem;
}

.section-name {
  font-family: "Source Serif Pro", sans-serif;
  color: var(--color-olive);
  font-weight: 400;
  font-size: 4rem;
  line-height: 5.7rem;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1.5rem;
  align-items: center;
  padding: 10rem 5rem 5rem 5rem;
}
.section-name::before, .section-name::after {
  content: "";
  height: 1px;
  display: block;
  background-color: currentColor;
}

.btn, .btn:link, .btn:visited {
  font-size: 1.5rem;
  width: 25rem;
  height: 4rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-olive);
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 6px;
  transition: all 0.2s;
  position: relative;
}
.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.6);
}
.btn:hover::after {
  transform: scaleX(1.3) scaleY(1.5);
  opacity: 0;
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.6);
}
.btn::after {
  background-color: var(--color-olive);
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  opacity: 0.4;
}

.navigation {
  animation: moveFromTop 2s ease-out;
}
.navigation__header {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
}
.navigation__list {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}
.navigation__link:link, .navigation__link:visited {
  color: var(--color-olive);
  margin: 3rem;
  padding: 1rem 2rem;
  text-decoration: none;
  text-align: center;
  font-weight: 300;
  border-radius: 5px;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-olive) 50%);
  background-size: 225%;
  transition: all 0.3s;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: white;
}

.header {
  backface-visibility: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 7rem 1fr;
}
.header__gradient-olive {
  position: absolute;
  height: 50rem;
  width: 57rem;
  right: -13rem;
  top: -10rem;
  border-radius: 0px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(58, 95, 86, 0.55) 0%, rgba(58, 95, 86, 0) 100%);
}
.header__gradient-brown {
  height: 80rem;
  width: 72rem;
  left: -20rem;
  bottom: -40rem;
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, rgba(184, 125, 88, 0.8) 0%, rgba(184, 125, 88, 0) 100%);
}
.header__content {
  grid-column: 1/3;
  grid-row: 2/3;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 10rem;
  row-gap: 2rem;
  padding: 3rem 3rem 3rem 10rem;
}
.header__content-left {
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.header__content-img {
  grid-column: 2/3;
  grid-row: 1/3;
  height: auto;
  width: 88%;
  align-self: center;
  justify-self: center;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  border-radius: 2.4rem;
}
.header__content-btn {
  align-self: start;
}
.header__content-info {
  align-self: start;
}

.about__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0rem 5rem 5rem 5rem;
  gap: 2rem;
}
.about__content > * {
  background-color: var(--color-white);
  border-radius: 10px;
}
.about__info {
  grid-column: 1/2;
}
.about__info > * {
  padding-left: 3rem;
}
.about__info p:last-child {
  margin-bottom: 5rem;
}
.about__skills {
  grid-column: 2/3;
}
.about__skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1.5rem;
}
.about__skills-heading {
  padding-left: 3rem;
  margin-bottom: 1rem;
}
.about__skills-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about__skills-icon {
  height: 5rem;
}
.about__icon {
  height: 4.8rem;
  width: 4.8rem;
  padding: 1rem;
  margin: 3rem 0 0 3rem;
  background: rgba(58, 95, 86, 0.2);
  fill: var(--color-olive);
  border-radius: 50%;
  display: block;
}

/*# sourceMappingURL=style.css.map */
