:root {
  --color-olive: #3a5f56;
  --color-dark: #292c32;
  --color-white: #f4f3f0;
  --color-red: #c92a2a;
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-6rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(6rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-family: "Roboto", sans-serif;
  line-height: 2.2rem;
  font-weight: 400;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  color: var(--color-dark);
}
body > * {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  clip-path: inset(0px -15px 0px -15px);
  position: relative;
  grid-column: center-start/center-end;
}

.grid-container {
  display: grid;
  grid-template-rows: 80vh repeat(3, min-content);
  grid-template-columns: [page-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] minmax(5rem, 1fr) [page-end];
}

.heading-1 {
  font-family: "Source Serif Pro", sans-serif;
  color: var(--color-olive);
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 5.7rem;
}

.heading-2 {
  font-family: "Source Serif Pro", sans-serif;
  color: var(--color-olive);
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 5.7rem;
}

.heading-3 {
  font-family: "Source Serif Pro", sans-serif;
  color: var(--color-olive);
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 5.7rem;
}

.section-name {
  font-family: "Source Serif Pro", sans-serif;
  color: var(--color-olive);
  font-weight: 400;
  font-size: 4rem;
  line-height: 5.7rem;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1.5rem;
  align-items: center;
  padding: 5rem;
}
.section-name::before, .section-name::after {
  content: "";
  height: 1px;
  display: block;
  background-color: currentColor;
}

.btn, .btn:link, .btn:visited {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-olive);
  padding: 1rem 4rem;
  display: inline-block;
  border-radius: 6px;
  transition: all 0.2s;
  position: relative;
}
.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.6);
}
.btn:hover::after {
  transform: scaleX(1.3) scaleY(1.5);
  opacity: 0;
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.6);
}
.btn::after {
  background-color: var(--color-olive);
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  opacity: 0.4;
}

.btn__form {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-olive);
  padding: 1rem 4rem;
  border-radius: 6px;
  transition: all 0.2s;
  position: relative;
  border: none;
  display: flex;
  order: 1;
  justify-content: center;
  align-items: center;
}
.btn__form::before {
  content: " ";
  display: inline-block;
  height: 1.3rem;
  width: 1.3rem;
  margin-left: 0.7rem;
  order: 2;
  background-color: var(--color-white);
  -webkit-mask-image: url(../img/send.svg);
  -webkit-mask-size: cover;
  mask-image: url(../img/send.svg);
  mask-size: cover;
}
.btn__form:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.6);
}
.btn__form:hover::after {
  transform: scaleX(1.3) scaleY(1.5);
  opacity: 0;
}
.btn__form:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.6);
}
.btn__form::after {
  background-color: var(--color-olive);
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  opacity: 0.4;
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.list__item {
  flex: 0 0 100%;
  margin-bottom: 0.7rem;
  font-size: 1.4rem;
}
@media only screen and (min-width: 132.7em) {
  .list__item {
    flex: 0 0 50%;
  }
}
.list__item::before {
  content: " ";
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-right: 0.7rem;
  background-color: var(--color-olive);
  -webkit-mask-image: url(../img/chevron-thin-right.svg);
  -webkit-mask-size: cover;
  mask-image: url(../img/chevron-thin-right.svg);
  mask-size: cover;
}

.navigation {
  animation: moveFromTop 2s ease-out;
}
.navigation__header {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
}
.navigation__list {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}
.navigation__link:link, .navigation__link:visited {
  color: var(--color-olive);
  margin: 3rem;
  padding: 1rem 2rem;
  text-decoration: none;
  text-align: center;
  font-weight: 300;
  border-radius: 5px;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-olive) 50%);
  background-size: 225%;
  transition: all 0.3s;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: white;
}

.header {
  backface-visibility: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 7rem 1fr;
}
.header__gradient-olive {
  position: absolute;
  height: 50rem;
  width: 57rem;
  right: -13rem;
  top: -10rem;
  border-radius: 0px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(58, 95, 86, 0.55) 0%, rgba(58, 95, 86, 0) 100%);
}
.header__gradient-brown {
  height: 80rem;
  width: 72rem;
  left: -20rem;
  bottom: -40rem;
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, rgba(184, 125, 88, 0.8) 0%, rgba(184, 125, 88, 0) 100%);
}
.header__content {
  grid-column: 1/3;
  grid-row: 2/3;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 10rem;
  row-gap: 2rem;
  padding: 3rem 3rem 3rem 10rem;
}
.header__content-left {
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.header__content-img {
  grid-column: 2/3;
  grid-row: 1/3;
  height: auto;
  width: 88%;
  align-self: center;
  justify-self: center;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  border-radius: 2.4rem;
}
.header__content-btn {
  align-self: start;
}
.header__content-info {
  align-self: start;
}

.about__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, min-content);
  padding: 0rem 5rem 10rem 5rem;
  position: relative;
  overflow: hidden;
  gap: 2rem;
}
.about__content > * {
  background-color: var(--color-white);
  border-radius: 10px;
}
.about__header {
  margin: 3rem 0 3rem 3rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.about__icon {
  height: 4.8rem;
  width: 4.8rem;
  padding: 1rem;
  background: rgba(58, 95, 86, 0.2);
  fill: var(--color-olive);
  border-radius: 50%;
  display: block;
}
.about__gradient-olive {
  position: absolute;
  height: 50rem;
  width: 50rem;
  bottom: -25rem;
  left: -25rem;
  background: radial-gradient(50% 50% at 50% 50%, rgba(58, 95, 86, 0.376) 0%, rgba(58, 95, 86, 0) 100%);
}

.info {
  grid-column: 1/2;
  grid-row: 1/3;
}
.info > * {
  padding: 0 3rem 0 3rem;
}
.info p:last-child {
  margin-bottom: 2rem;
}

.general {
  margin: 3rem 0 1rem 0;
}

.skills {
  grid-column: 2/3;
  grid-row: 1/2;
}
.skills__container {
  display: flex;
}
.skills__current {
  height: min-content;
  margin-left: 1rem;
  transform: translateY(1.9rem);
}
.skills__icons {
  margin: 0 1rem 3rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  gap: 2rem;
}
.skills__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skills__box-1 {
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skills__icon {
  height: 4rem;
  width: 4rem;
}
.skills__icon-1 {
  height: 3rem;
  width: 3rem;
}
.skills__inprocess {
  display: flex;
  margin: 0 1rem 3rem 1rem;
  gap: 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 3rem;
}
.skills__progress {
  margin-left: 1rem;
  transform: translateY(1.4rem);
}

.projects {
  background-color: var(--color-white);
}
.projects__box {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 5rem;
}

.project {
  transition: all 0.5s;
  background-color: #fff;
  margin-bottom: 5rem;
  border-radius: 20px;
  overflow: hidden;
  max-width: 35rem;
}
.project__heading {
  padding-left: 3rem;
}
.project p {
  padding: 0 3rem 2rem 3rem;
  color: var(--color-olive);
}
.project__img {
  width: 35rem;
  height: auto;
}
.project__links {
  padding: 0 0 3rem 3rem;
  display: flex;
  gap: 3rem;
}
.project .link:link,
.project .link:visited {
  text-decoration: none;
  color: var(--color-olive);
  display: block;
  padding: 0.5rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-olive) 50%);
  background-size: 235%;
  transition: all 0.3s;
}
.project .link:link:hover, .project .link:link:active,
.project .link:visited:hover,
.project .link:visited:active {
  background-position: 100%;
  color: white;
}
.project:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.contact {
  margin-bottom: 10rem;
}
.contact__content {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.contacts {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
}
.contacts__box {
  display: flex;
  width: 25rem;
  gap: 3rem;
  padding-bottom: 2rem;
  align-items: center;
}
.contacts__icon {
  width: 3rem;
  height: 3rem;
  justify-self: flex-start;
}
.contacts__link:link, .contacts__link:visited {
  text-decoration: none;
  color: var(--color-dark);
}

.mail {
  flex: 1;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  font-family: inherit;
  color: inherit;
  border: none;
  border-radius: 2px;
  background-color: var(--color-white);
  padding: 1.5rem 2rem;
  border-bottom: 3px solid transparent;
  display: block;
  width: 40%;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid var(--color-olive);
}
.form__input:focus:invalid {
  border-bottom: 3px solid var(--color-red);
}
.form__input::-webkit-input-placeholder {
  color: var(--color-olive);
}
.form__message {
  height: 15rem;
  width: 40%;
  resize: none;
  margin-bottom: 0;
}
.form__label {
  font-size: 1.2rem;
  margin-left: 2rem;
  display: block;
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

/*# sourceMappingURL=style.css.map */
