.btn {
  border-style: none;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background-color: $color-white;
  color: $color-black;
  border-radius: 10rem;
  font-size: 2rem;
  padding: 1rem 2rem;
  margin-top: 10rem;
  user-select: none;
  cursor: pointer;

  &::after {
    content: ' ';
    display: inline-block;
    background-color: $color-white;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    transition: all 0.1s;
    cursor: pointer;
    z-index: -1;
    transition: all 0.4s;
  }
  &:hover::after {
    transform: scaleX(1.2) scaleY(1.4);
    opacity: 0;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  &_header-box {
    animation: moveInBottomBtn 1s ease-out 0.8s;
    animation-fill-mode: backwards;
  }

  &_header {
    display: inline-block;
    transition: all 0.1s;
    position: relative;
  }

  &_header-download {
    margin-left: 11rem;
  }
}
