.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 100%;
    margin-bottom: 0.7rem;
    font-size: 1.4rem;

    @media only screen and (min-width: 132.7em) {
      flex: 0 0 50%;
    }
  }

  &__item::before {
    content: ' ';
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.7rem;

    background-color: var(--color-olive);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(../img/chevron-thin-right.svg);
    mask-size: cover;
  }
}
