* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-family: 'Roboto', sans-serif;
  line-height: 2.2rem;
  font-weight: 400;
  box-sizing: border-box;
  font-size: 62.5%; //1 rem = 10px
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  color: var(--color-black);
}

.grid-container {
  display: grid;

  grid-template-rows: 80vh repeat(3, min-content);
  grid-template-columns:
    [page-start] minmax(5rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end])
    [center-end] minmax(5rem, 1fr) [page-end];
}
